@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    padding: 0px 40px;
    margin: 0 auto;
}

::-webkit-input-placeholder { 
  color: #9c9c9c;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

:-ms-input-placeholder { 
  color: #9c9c9c;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

::placeholder {
  color: #9c9c9c;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.menu {
    width: 100%;
    height: 96px;
    background: rgb(124, 49, 199);
    position: fixed;
    z-index: 10;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 40px;
}

.main-menu {
    display: flex;
    margin-left: 80px;
}

.menu-ul {
    display: flex;
    list-style: none;
}

.menu-ul li{
    padding-left: 30px;
}

.menu-ul li a {
    color: rgb(226, 226, 226);
    text-decoration: none;
}

.menu-ul li a:hover {
    color: white;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7C31C7;
  margin: 0px 40px;
  width: 87%;
  padding: 0px 0px 10px 0px;
  position: fixed;
  z-index: 8;
  top: -95px;
  transition:all .3s ease-out 0s;
}

.for-mobile {
  width: 100%;
  flex-direction: column;
  gap: 20px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav{
    display: flex;
    justify-content: left;
    align-items: center;
}

.right-nav {
    display: flex;
    justify-content: right;
}

.right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:40px;
    background-color: none;
    border:1px solid #fff;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.right-menu:hover {
    cursor: pointer;
    background-color: white;
}

.right-menu:hover .fa-bars {
    color: rgb(124, 49, 199);
}

.right-menu i {
    color: white;
}

/* -------------------- Right menu -------------------------- */
.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -350px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 32px;
  }
  
  .sidenav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sidenav h2 {
    font-size: 20px;
  }
  
  .sidenav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition:all .3s ease-out 0s;
  }

  .sidenav-links a:hover {
    color: #7C31C7;
    margin-left: 20px;
  }

  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .link-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: none;
    border: 1px solid #d8d8d8;
    color: #7C31C7;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    cursor: pointer;
    transition:all .3s ease-out 0s;
  }

  .link-icon:hover {
    background-color: #7C31C7;
  }

  .link-icon:hover a i{
    color: white;
  }

  .fa.fa-times {
    transition: transform 0.5s ease 0s;
  }

  .fa.fa-times:hover {
    transform: rotate(180deg);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .get-started {
    height: 645px;    
    background: rgb(124, 49, 199);
    position: relative;
    top: 20px;
    width: 100%;
  }

  .header-items {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    position: relative;
    top: 150px;
  }

  .header-content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
  }

  .header-content h1{
    font-size: 44px;
    color: white;
  }
  .header-content p{
    font-size: 16px;
    color: rgb(226, 226, 226);
  }

  .header-content button {
    background-color: white;
    border:1px solid #fff;      
    color: rgb(124, 49, 199);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 5px;
}

.header-content button:hover {
    cursor: pointer;
    color: white;
    background-color: transparent; 
  }

  .header-image {
    display: flex;
    justify-content: center;
    width: 1000px;
    align-items: center;
  }
  
  .header-image img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  }

  .team {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 150px;
  }

  .team-image {
    display: flex;
    width: 480px;
  }

  .team-pic {
    width: 480px;
    position: relative;
    left: -110px;
}

.team-shape1, .team-shape2 {
      position: relative;
      z-index: -1;
  }
.team-shape1 {
      top: -130px;
      left: 65px;
  }
.team-shape2 {
      top: 140px;
      left: 150px;
  }

.team-content {
      display: flex;
      justify-content: start;
      flex-direction: column;
      margin-left: 150px;
      gap: 20px;
}

.team-content h2 {
    font-weight: 700px;
    font-size: 36px;
}

.team-line {
  width: 20px;
  height: 0;
  border: 1px solid #7C31C7;
  margin: 3px;
  display:inline-block;
}

.team-content-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.team-content-right h3 {
    font-size: 18px;
    font-weight: 400;
}

.about-as-btns {
    padding: 20px 80px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEF;
}

.about-as-btns button {
  font-size: 16px;
  color: rgb(39, 39, 39);
  font-weight: 600;
  background-color: white;
  border-radius: 5px;
  padding: 10px 18px;
  border: none;
}

.about-as-btns button:hover {
    cursor: pointer;
    color: #7C31C7;
}

.btn-active {
    background-color: #7C31C7 !important;
    color: white !important;
}

.about-team-text {
    color: rgb(114, 114, 114);
}

#team-text-2, #team-text-3 {
    display: none;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.services , .services-top, .pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-top {
  flex-direction: column;
  gap: 15px;
}

.services-top h2 {
  font-size: 36px;
}
.services-top p {
  font-size: 16px;
  color: #6d6d6d;
  text-align: center;
  font-weight: 400;
}

.services {
  margin-top: 100px;
  flex-direction: column;
}

.services-title {
  padding: 8px 30px;
  border-radius: 30px;
  border: 2px solid #7C31C7;
  color: #7C31C7;  
  font-weight: 600;
  font-size: 14px;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
  gap: 25px;  
}

.services-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
  border: 1px solid #efefef;
  padding: 30px 40px;
  gap: 20px;
  border-radius: 10px;
}

.services-items h3 {
  font-size: 20px;
  font-weight: 600;
}

.services-items p {
  font-size: 16px;
  font-weight: 400;
  color: #6d6d6d;
}

.services-items:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.services-items:hover .services-item-circle {
  background-color: #7C31C7;    
}
.services-items:hover .services-item-circle i {
  color: white;
}

.services-item-circle {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: none;
    border:2px solid #7C31C7;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.services-item-circle i{
  color: #7C31C7;
}

.pricing {
  background-color: #fafafa;
  margin-top: 80px;
  padding: 100px 0px;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  margin-top: 80px;
}

.prices p {
  font-size: 16px;
  color: #6d6d6d;
  font-weight: 400;
  text-align: center;
}

.pricing-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  gap: 30px;
  padding: 50px 40px;
  background-color: #fff;
  border: 1px solid rgb(235, 235, 235);    
  border-radius: 10px;
}

.pricing-item button {
  background-color: white;
  border: 1px solid rgb(124, 49, 199);      
  color: rgb(124, 49, 199);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .08em;
  padding: 16px 30px;
  border-radius: 5px;
}

.pricing-item button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(124, 49, 199); 
}

.price-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-content-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price-content-item i {
  color: #7C31C7;
}

.price-content-item p {
  font-weight: 300;
}

.amount {
  font-size: 55px;
}

.currency, .duration {
  font-size: 20px;
  color: #6d6d6d;
  font-weight: 300;
}

.currency {
  position: absolute;
  transform: translate(-14px, 5px);
}

.duration {
  position: absolute;
  transform: translate(0px, 32px);
}

.pricing-active {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}

.pricing-title-active {
  background-color: #7C31C7;
  color: white;
}

.creative-team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 60px;
}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}

.team-member img {
  transform: translateY(-50px);
}

.team-member h3 {
  font-size: 22px;
}
.team-member h4 {
  font-size: 16px;
  font-weight: 400;
  color: #7C31C7;
}

.member-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  padding: 20px 0px;
  transition: all .3s ease-out 0s;
}

.team-member:hover .member-title {
  background-color: #7C31C7;
  padding-top: 50px;
}

.team-member:hover .member-name {
  color: white;
}

.team-member:hover .member-position {
  color: white;
}

.team-member:hover .member-socials {
  visibility: visible;
  opacity: 1;
  bottom: 100px;
}


.member-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 5;
  gap: 15px;
  bottom: 72px;
  padding: 8px 16px;
  background-color: white;
  border-radius: 50px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition:all .3s ease-out 0s;
  -moz-transition:all .3s ease-out 0s;
  -ms-transition:all .3s ease-out 0s;
  -o-transition:all .3s ease-out 0s;
  transition:all .3s ease-out 0s;
}

.member-socials i {
  color: black;
}
.member-socials a {
  text-decoration: none;
}

.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-linkedin:hover
{
  cursor: pointer;
  color: #7C31C7;
}

.solutions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url("images/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100% auto;
  margin-top: 120px;
}

.solution-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  gap: 40px;
}
.solution-content button {
    background-color: transparent;
    border:1px solid #fff;      
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 5px;
}

.solution-content button:hover {
  cursor: pointer;
  color: #7C31C7;
  background-color: #fff;
}

.contacts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 40px;
}

.contact-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-item {
  display: flex;
  background-color: #fff;
  border: 1px solid rgb(223, 223, 223);
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
}

.contact-item:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.contact-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #7C31C7;
    border:1px solid #fff;    
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;  
}

.center-contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.contact-item-icon i {
  color: white;
}

.contact-item-content h3 {
  font-size: 20px;
  color: #7C31C7;
}
.contact-item-content p {
  font-size: 16px;
  color: #6d6d6d;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgb(233, 233, 233);
  padding: 60px 40px;
  border-radius: 5px;
  flex-direction: column;
}

.contact-form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.contact-form-title h3 {
  font-size: 20px;
  color: #7C31C7;
}
.contact-form-title h1 {
  font-size: 36px;
  font-weight: 600;
  color: #1d1d1d;
}
.contact-form-title p {
  font-size: 1em;
  color: #6d6d6d;
}

.center-emails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  width: 100%;
}

.contact-form-content textarea, .contact-form-content input {
  border: 1px solid rgb(224, 224, 224);
  padding: 20px 40px;
  color: #7C31C7;
  font-size: 18px;
  font-weight: 400;
}

.contact-form-content input {
  width: 100%;
  border-radius: 50px;
}

.contact-form-content textarea {
  border-radius: 20px;
}

.contact-form-content input:focus, .contact-form-content textarea:focus {
  outline: none !important;
  border: 1px solid #7C31C7;
}

.contact-form button {
  border: none;
  margin-top: 30px;
  background-color: #7C31C7;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;
}

.contact-form button:hover {
  cursor: pointer;
  background-color: #6720ad;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.footer-content p, a {
  color: #6d6d6d;
  font-weight: 600;
}

.footer-content a {
  text-decoration: none;
}

.footer-form {
  padding: 14px 58px 14px 10px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.footer-email-input {
  border: none;
}

.footer-email-input:focus {
  outline: none !important;
}

.footer-email-input:hover .footer-form {
  border: 1px solid #7C31C7;
}

.footer-email-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7C31C7;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  color: #fff;
  position: absolute;
  transform: translate(180px, -30px);
  cursor: pointer;
}

.page-up {
  position: fixed;
  cursor: pointer;
  z-index: 1000;
  background-color: #7C31C7;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0px 5px 25px rgba(36, 36, 36, 0.3);
  bottom: 30px;
  right: 30px;
  transition: all .3s ease-out 0s;
}

.page-up:hover {
  background-color: #6720ad;
  bottom: 40px;
}

.nav-icon-mobile {
  display: none;
  width: 60px;
  height: 14px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-icon-mobile span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon-mobile span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon-mobile span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon-mobile span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon-mobile.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.nav-icon-mobile.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-icon-mobile.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 22px;
  left: 8px;
}



/*--------------------- middle screen ------------------- */

@media screen and (max-width: 1000px) {
  .get-started {
    height: 880px;
  }
  .header-items {
    flex-wrap: wrap;
  }
  .team {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;    
  }
  .team-content {
    margin-left: 0px;
    margin-top: 120px;
  }
  .about-as-btns {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  .team-image {
    width: 1000px;
    justify-content: center;
  }
  .team-pic {
    max-width: 100%;
  }
  .desktop-right-nav, .main-menu {
    display: none;
  }
  .nav-icon-mobile {
    display: block;
  }
  .header-image {
    width: 80%;
  }
}

@media screen and (max-width: 1215px) {
  .contact-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 640px) {
  .contact-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

